@font-face {
    font-family: 'emojis';
    src: url('./emojis.ttf')  format('truetype');
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	font-family: emojis;
}

body {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
}

.content {
	margin: auto;
	font-size: 72px;
}