@font-face {
    font-family: 'emojis';
    src: url('./emojis.ttf')  format('truetype');
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	font-family: emojis;
}

body {
	--x: 100;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
}

.content {
	margin: auto;
	font-size: calc((100vmin / var(--x)) * 18);
	width: calc((100vmin / var(--x)) * 100);
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
	align-items: center;
	height: calc((100vmin / var(--x)) * 60);
	min-width: max-content;
}

.empty {
	display: inline-block;
	color: transparent;
}

.empty::before {
	content: '🌳';
	display: inline-block;
}

.mirror-x {
	display: inline-block;
	transform: scaleX(-1);
}

.content img {
	width: 1em;
	vertical-align: bottom;
}

.content span {
	display: inline-block;
}